.contactsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: aqua;
}
.formContent {
  display: flex;
  background: rgb(98 68 68 / 30%);
  width: 90%;
  height: 90%;
  border-radius: 14px;
}

.formsParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}



.big  div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  margin-bottom: -26px;
  margin-left: 32px;
  align-self: flex-start;
  opacity: 1;
  font-size: 12px;
}
.big {
  position: relative;
  width: 40%;
  height: 114px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textareaDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.privateDivTextArea {
  position: absolute;
  top: -14px;
  left: -22px;
  color: black;
  margin-bottom: -26px;
  margin-left: 32px;
  align-self: flex-start;
  opacity: 1;
  font-size: 12px;
}



form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
  border: none;
  width: 80%;
  height: 34px;
  border-bottom: solid white 2px;
  outline: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input:hover::placeholder {
  transform: translateY(-12px);
  color: red;
}
input::placeholder {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: transform 0.3s ease;
}
.textareaDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 50%;
  background: none;
  border: none;
  border-bottom: solid white 2px;
  columns: white;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-width: 200px;
  min-height: 50px;
  max-width: 200px;
  max-height: 50px;
  margin-top: 20px;
  outline: none;
}

textarea::placeholder {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: transform 0.3s ease;
}
textarea:hover::placeholder {
  transform: translateY(-9px);
  color: red;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db; 
  color: #fff; 
  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background-color: #2980b9; 
  color: #fff; 
}

.privateResolve{
  position: relative;
  top: -31px;
  left: 240px;
}


.descriptions {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.textInfosDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textInfo {
  display: flex;
  height: 66%;
  flex-direction: column;
  justify-content: space-between;
}
.textInfo p {
  font-size: 14px;
  margin: 23px;
}
.a {
  display: flex;
}

.webSites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
